<style>
.navbar {
  padding: 0 10px;
}

*.icon-dark {
  color: grey;
}

.message {
  position: absolute;
  top: 40px;
  right:5px;
}

.search {
  position: relative;
}

.search input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 1px solid grey;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 10px;
}

.search button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  background: grey;
}
</style>
<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/tutorials}">
      MLA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tutorials}">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tutorials/new}">Add</a>
        </li>
      </ul>
    </div>
  </nav>
</header>